.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}
.form{
  background: #d698b9;
  margin-top: 10%;
}

.collage{
 margin-right: 5%;
 
}

.photo{
  margin-left: 5%;
 margin-top: 25%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 380px;
  height: 200px;
  padding: 2%;
}
.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-field{
  width: 150px;
  
}
.field-error{
  display: flex;
  color: red;
  align-items: baseline;
}
.error {
  margin: unset;
  margin-left: 1%;
}
.tos{
  color: black;
}
.reg-btn{
  margin: auto;
  width: 200px;
  height: 50px;
}
reg-h1{
  margin: 0 0 4% 0;
}