
.form{
  background: #d698b9;
  margin-top: 10%;
}

.collage{
 margin-right: 5%;
 
}
.fileContainer{  
  width: fit-content;  
}
.account-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-photo label{
  padding-bottom:4%;
}

.photo{
  margin-left: 5%;
 margin-top: 25%;
}
.add-photo{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #d698b9;
  background: #d698b9;
  border-radius: 30px;
  padding-bottom: 3%;
  box-shadow: 5px 5px 10px 10px;
  width: 30%;
}
.update-form{
  display: flex;
  justify-content: center;
}

.edit-pic {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #d698b9;
  background: #d698b9;
  border-radius: 30px;
  padding-bottom: 3%;
  box-shadow: 5px 5px 10px 10px;
  width: 30%;
}

.edit-pic form{
  display: flex;
  flex-direction: column;
}
.edit-pic label{
  padding-bottom:5%;
}
.edit-pic button {
  margin-top: 10%;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid sienna;
  width: 380px;
  height: 200px;
  padding: 2%;
  border-radius: 1%;
}
.container {
  width: 400px;
  height: auto;
  padding: 5%;
  margin: 5%;
  border-radius: 5px;
  border: 2px solid sienna;
  background: #d698b9;
}
.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-field{
  width: 150px;
  
}
.field-error{
  display: flex;
  color: red;
  align-items: baseline;
}
.error {
  margin: unset;
  margin-left: 1%;
}
.tos{
  color: black;
}
.reg-btn{
  margin: auto;
  width: 200px;
  height: 50px;
}
.reg-h1{
  margin: 0 0 4% 0;
}
.link {
  text-decoration: none;
  color: black;
}
.button1{
  background: white;
}
